Repository sss-lehigh/librome, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amandabaran, @depaulmillz, @rdy221

.github/CODEOWNERS:

# Amanda owns everything on this
*                   @amandabaran

/.github/           @depaulmillz @amandabaran
/cicd/              @depaulmillz @amandabaran
/cmake/             @depaulmillz
/Doxyfile           @depaulmillz @amandabaran

/include/           @amandabaran @rdy221
/src/               @amandabaran @rdy221
/tests/             @amandabaran @rdy221
/tools/             @amandabaran @rdy221
/protos/            @amandabaran @rdy221
/scripts/           @amandabaran @rdy221
/share/             @depaulmillz @rdy221
/CMakeLists.txt     @depaulmillz @amandabaran

Create static.yml (#4)
  .github/workflows/static.yml
Owners: @depaulmillz, @amandabaran

Update to static
  .github/workflows/static.yml
Owners: @depaulmillz, @amandabaran

Update to static (#8)
  .github/workflows/static.yml
Owners: @depaulmillz, @amandabaran

Updated static
  .github/workflows/static.yml
Owners: @depaulmillz, @amandabaran

Updated static again to get images (#9)
  .github/workflows/static.yml
Owners: @depaulmillz, @amandabaran

Refactored stopwatch
  CMakeLists.txt
  include/rome/metrics/stopwatch.h
  src/rome/metrics/stopwatch.cc
Owners: @depaulmillz, @amandabaran, @rdy221

Comments and cleanup
  include/rome/colosseum/client_adaptor.h
  include/rome/colosseum/qps_controller.h
  include/rome/colosseum/stream.h
  include/rome/colosseum/streams.h
  include/rome/colosseum/workload_driver.h
  include/rome/logging/logging.h
  include/rome/metrics/counter.h
  include/rome/metrics/metric.h
  include/rome/metrics/stopwatch.h
  include/rome/metrics/summary.h
  include/rome/util/coroutine.h
  include/rome/util/thread_pool.h
Owners: @amandabaran, @rdy221

Enabling macros for cuda
  include/rome/rome.h
Owners: @amandabaran, @rdy221

Updated cmakelists
  CMakeLists.txt
Owners: @depaulmillz, @amandabaran

Light Refactoring (#10)
  CMakeLists.txt
  include/rome/colosseum/client_adaptor.h
  include/rome/colosseum/qps_controller.h
  include/rome/colosseum/stream.h
  include/rome/colosseum/streams.h
  include/rome/colosseum/workload_driver.h
  include/rome/logging/logging.h
  include/rome/metrics/counter.h
  include/rome/metrics/metric.h
  include/rome/metrics/stopwatch.h
  include/rome/metrics/summary.h
  include/rome/rome.h
  include/rome/util/coroutine.h
  include/rome/util/thread_pool.h
  src/rome/metrics/stopwatch.cc
Owners: @depaulmillz, @amandabaran, @rdy221

Initial bitset and marked ptr code
  include/rome/datastructure/bitset.h
  include/rome/datastructure/marked_ptr.h
  tests/rome/CMakeLists.txt
  tests/rome/datastructure/CMakeLists.txt
  tests/rome/datastructure/bitset_test.cc
  tests/rome/datastructure/marked_ptr_test.cc
Owners: @amandabaran, @rdy221

License
  LICENSE
Owners: @amandabaran

License (#13)
  LICENSE
Owners: @amandabaran

Updated bitsets
  include/rome/datastructure/bitset.h
  tests/rome/datastructure/bitset_test.cc
  tests/rome/datastructure/marked_ptr_test.cc
Owners: @amandabaran, @rdy221
